html {
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	margin: 0;

	background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto, auto, cover;
    background-color: #001821;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

button {
	cursor: pointer;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

/* ================================================================================== */

h2 {
    margin: 15px, 20px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
}

.container {
    width: 1141px;
    margin-left: 390px;
    margin-right: 390px;
}
