/* ----------------FOOTER------------------
=========================================== */

.footer {
    width: 1141px;
    margin-left: 390px;
    position: relative;
    height: 93px;    
    display: inline-block;
    margin-top: 53px;
    margin-bottom: 58px;
}

.social-media {
    display: inline-block;
    position: absolute;
    left: 699px;
    top: 52px;
}

.social-media__item {
    display: inline-block;
    margin-right: 7px;
}

.social-media__item:last-child {
    margin-right: 0;
}

/* ----------------LOGO------------------
=========================================== */

.footer__logo {
    position: absolute;
    left:0;
    top: 50px;
}

/* ----------------MENU------------------
=========================================== */

.footer__menu {
    display: inline-block;
    position: absolute;
    bottom: 9px;
    left: 85px;
    margin-left: 79px;
}


/* ----------------CONTACTS------------------
=========================================== */

.footer__contacts {
    display: inline-block;
    position: absolute;
    top: 65px;
    right: 0;
    margin: 0;
    justify-content:flex-end;
}

.contacts__text {
    font-size: 11px;
    font-weight: regular;
    font-style: normal;
    position: absolute;
    right:0;
    bottom: 38px;
    display: inline-block;
}

/* ----------------FOOTER LINE------------------
=========================================== */

.footer__line {
    position: absolute;
    width: 1141px;
    height: 1px;
    background-color: #282c2d;
    top: 0;
}