/* ----------------NEWS------------------
========================================= */

.news {
    margin-bottom: 230px;
    position: relative;    
}

.news__list {
}

.news__item {
    display: inline-block;
    height: 394px;
    width: 555px;
    margin-right: 23px;
    vertical-align: middle;
    position: relative;
    border-radius: 5px;
}

.news__item:last-child {
    margin-right: 0;
}

.news__pic {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
}

.news__month {
    position: absolute;
    display: inline-block;
    left: 30px;
    font-size: 14px;
    top: 254px;
}

.news__title {
    position: absolute;
    top: 60%;
    margin-bottom: 15px;
    left: 30px;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    top: 286px;
}

.news__description {
    position: absolute;
    display: inline-block;
    left: 30px;
    top: 325px;
}