/* ----------------OFFERSS------------------
============================================ */

.offers {
    width: 1140px;
    height: 549px;
    margin-bottom: 127px;
}

.title--fire::after {
    content:url(/images/flame.svg);
    display: inline-block;
    height: 28px;
    width: 21px;
    margin-left: 15px;
}

.offers__item {
    display: inline-block;
    width: 360px;
    height: 449px;
    font-size: 14px;
    position: relative;
    background-color: white;
    margin-right: 25px;
    border-radius: 8px;
}

.offers__item:last-child {
    margin-right: 0;
}

.offers__content {
    position: relative;
    top: 144px;
}

.offers__pic {
    width: 100%;
    height: 144px;
    position: absolute;
    top:0;
    z-index: 100;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.offers__title {
    position: absolute;
    top: 33px;
    font-size: 24px;
    font-weight: bold;
    color: #303030;
    left: 22px;
}

.offers__text {
    position: absolute;
    top: 135px;
    display: inline-block;
    width: 324px;
    color: black;
    left: 22px;
    line-height: 1.55;
}

/* ----------------OFFERSS-FEATURES------------------
============================================ */

.offers__features {
    font-size: 12px;
    position: absolute;
    left: 29px;
    top: 87px;
    width: 300px;
}

.offers__feature {
    position: relative;
    display: inline-block;
    width: 135px;
    margin-right: 10px;

}

.offers__feature-text {
    color: #303030;
    display: inline-block;
    margin-bottom: 2px;
    vertical-align: middle;
    position: absolute;
    right: 13px;
    bottom: 0;
    font-size: 16px;
}

.offers__feature-icon {
    display: block;
    /* margin-right: 10px; */
    /* padding: 1px; */
}

/* ----------------OFFERSS BUTTON------------------
============================================ */

.offers__button {
    display: inline-block;
    position: absolute;
    height: 55px;
    width: 135px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #F5170E;
    color: #F5170E;
    text-align: center;
    padding-top: 17px;
    left: 22px;
    top: 224px;
    font-weight: bold;
}

.offers__button:hover {
    background-color: #F5170E;
    color: white;
}

/* .button--light {
    display: inline-block;
    position: absolute;
    height: 55px;
    width: 135px;
    border-radius: 35px;
    background-color: white;
    border: 1.5px solid #F5170E;
    color: #F5170E;
    text-align: center;
    padding-top: 17px;
    left: 23px;
    top: 224px; */
}
