/* ----------------PAGINATOR------------------
=========================================== */

.paginator {
    width: 400px;
    height: 32px;
    position: absolute;
    display: inline-block;
    top: 550px;
    left: 765px;
    vertical-align: middle;
}

.paginator__display {
    display: inline-block;
    margin-left: 5px;
    padding-bottom: 1px;
    font-size: 16px;
    vertical-align: middle;
}

.paginator__list {
    display: inline-block;
    width: 250px;
    height: 32px;
    position: absolute;
    bottom: 2px;
    left: 156px;
    vertical-align: middle;
}

.paginator__item {
    display: inline-block;
}

.paginator__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 30px;
}

.paginator__link:hover {
    color: #F5170E;
    background-color: white;
}
